.galeryheader {
  text-align: center;
}
.galeryflexcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.galerycolumn {
  display: inline-flex;
  flex-direction: column;


}
.galerycolumn a{
  max-width: 210px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  
}

.galerycolumn img {
  width: 99%;
  /* max-width: 213px; */
  /* margin: 3px; */
}

.galerycolumn img:hover {
  position: relative;
  width: 100%;
  border: solid 2px #335d2d;
}
