main > section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: #335d2d;
  width: 150px;
  margin-left: 0;
}
.contacts,
.contactform {
  min-width: 260px;
}

.inline {
  display: inline;
}

strong {
  font-size: 1.3rem;
}

form {
  /* Center the form on the page */
  margin: 0 auto;

  /* Form outline */
  padding: 1em;
  border: 1px solid #335d2d;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  text-align: right;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
  width: 200px;
  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid #335d2d;
}

textarea {
  /* Provide space to type some text */
  height: 5em;
  display: block;
  width: 300px;
}

button {
  box-shadow: 0 5px 14px -7px #335d2d;
  background: linear-gradient(to bottom, #7ea04d 5%, #d8f3b1 100%);
  background-color: #7ea04d;
  border-radius: 11px;
  border: solid 1px #335d2d;
  display: inline-block;
  cursor: pointer;
  color: #335d2d;
  font-family: Arial;
  font-size: 1em;
  font-weight: bold;
  padding: 8px 10px;
  text-decoration: none;
  text-shadow: 0 1px 0 #335d2d;
}
button:hover {
  background: linear-gradient(to bottom, #d8f3b1 5%, #7ea04d 100%);
  background-color: #7ea04d;
}
button:active {
  position: relative;
  top: 1px;
}

@media (min-width: 743px) {
  .contactform > hr {
    border-style: none;
  }
}
@media (max-width: 742px) {
  h2 {
    text-align: center;
  }
  main > section {
    display: flex;
    justify-content: center;
  }
  hr {
    margin: 1em auto;
  }
  textarea {
    width: 100%;
  }
}
