/* barvy #d8f3b1 #a5d265*/
/* obecné */
Body {
  max-width: 800px;
  margin: 0 auto;
  font-family: sans-serif;
  /* Šířka 800px, zarovnáno na střed */
  font-size: 16px;
}

.content {
  background-color: #d8f3b1;
}

a,
navbar-list,
footer {
  color: #335d2d;
}

nav,
footer {
  background-color: #7ea04d;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: #fe9801;
}

h1 {
  margin: 1rem auto;
}

/* header */
.up-header {
  background-color: #335d2d;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  height: 150px;
  color: #fe9801;
}

header > div > div > p {
  font-size: 1.1rem;
}

.logo-img {
  width: 60px;
  border-radius: 50%;
  margin-top: 1rem;
  padding-right: 10px;
}

/* navbar */
.navbar-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 10px 10%;
  font-size: 1.5em;
  margin: 0;
}
@media (max-width: 560px) {
  .navbar-list li {
    font-size: 80%;
  }
}
@media (max-width: 433px) {
  .up-header {
    height: 180px;
  }
  header > div > div > p {
    font-size: 1rem;
  }
  .navbar-list {
    padding: 0;
  }
  .navbar-list li {
    font-size: 75%;
  }
}

.navbar-list > li {
  /* background-color: #335d2d; */
  padding: 10px;
  border-radius: 0.5em;
  /* border: solid #335d2d; */
}

/* main */
main {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  background-color: #f3f9af;
}

/* footer */
.footer-row {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.foot-contact {
  display: flex;
}

.foot-contact > p {
  padding: 10px;
}

.foot-contact > p > span {
  font-weight: bold;
}

.footer-logo {
  opacity: 0.5;
}

.vl {
  border-left: 2px solid #335d2d;
  height: 80px;
  position: relative;
  top: 10px;
}

.icons {
  text-align: center;
}

.icons-footer {
  padding-left: 10px;
}

.copyright {
  font-size: 0.5rem;
  text-align: center;
  padding-bottom: 5px;
}
